<!doctype html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
     <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <title>Individual Restaurant</title>
</head>

<body>
    <div class="main-container">
        <div class="border-container">
            <h1>hey</h1>
         <!--    {{#forms}}
                {{name}}
            {{/forms}}
            </h1>
            <ul>
                {{#abilities}}
                    <li>
                        <span class="name">
                            {{name}}
                        </span>
                    </li>
                {{/abilities}} -->
            <!-- </ul> -->
        </div>
    </div>
</body>

</html>
