<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <!-- <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script> -->
    <title>All Restaurant Results</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
hey
    <div class="main-container">
        <div class="border-container">
            <h1>Restaurants</h1>
            <a href = "restaurants/new">Add Restaurant</a>
            <ul>
                {{#allRestaurantsData.restaurants}}
                    <li>
                        <span class="name">
                        <a href="{{restaurant.url}}">
                          <!-- <a href="restaurant/{{id}}"> -->
                            {{restaurant.name}}
                          </a>
                        </span>
                    </li>
                {{/allRestaurantsData.restaurants}}
            </ul>
        </div>
    </div>  
</body>
</html>