<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <title>NEW: Restaurant</title>
</head>
<body>
  <form id="new-restaurant">
    <input type="text" placeholder="Enter restaurant name" name="name" />
    <input type="submit" value="Create" />
  </form>

  <a href = "/restaurants">Back to Restaurants</a>
</body>
</html>